{% extends 'base.html' %}

{% block title %} Admin - Order Page {%endblock%}
{% block h1PageTitle %}<h5>Admin - Order Page </h5>{% endblock %}

{%block content%}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <!-- <h2>Admin Page</h2> -->
          <ol>
            <li><a href="/dashboard">Home</a></li>
            <li>Orders</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
          <div class="row">
            <div class="col-md">
            <div class="table-responsive">
              <table id="list_of_orders" class="table table-striped align-middle" style="width:100%">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Delivery Address</th>
                        <th>Email</th>
                        <th>Contact #</th>
                        <!-- <th>Order Qty</th> -->
                        <th>Order Status</th>
                        <th>Order Date</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
                </div>
            </div>
          </div>
      </div>
    </section>

  </main><!-- End #main -->

   <!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="viewProduct">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Order Detail</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="#" method="POST" id="order_detail_form">
        <!-- <input type="text" value="" id="order_id" name="order_id"> -->
        <div class="modal-body">
          <section class="inner-page">
            <div class="container">
                <div class="row">
                  <div class="col-md">
                  <div class="table-responsive">
                    <table id="order_detail_table" class="table table-striped align-middle" style="width:100%">
                      <thead>
                          <tr>
                              <th>Order ID</th>
                              <th>Customer</th>
                              <th>Delivery Address</th>
                              <th>Email</th>
                              <th>Contact #</th>
                              <!-- <th>Order Qty</th> -->
                              <th>Order Status</th>
                              <th>Order Date</th>
                              <th>Controls</th>
                          </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      </table>
                      </div>
                  </div>
                </div>
            </div>
          </section>
        <div class="modal-footer">
          <button type="submit" class="btn book-a-table-btn" id="add_product_button">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

  {% endblock %}

  {%block jsperfile%}
<script type="text/javascript">
 
//$(document).ready(function() {

    var products_table = $('#list_of_orders').DataTable( {
        dom: "QBftrip",
        "ajax": {
            "method" : "GET",
            "url": "/orders/orders-get",
            "dataSrc": ""
        },
        "columns": [
            { "data": "id" },
            {
              data: null,
              render: function ( data, type, row ) {
                return `${data.last_name}, ${data.first_name} ${data.middle_name}`;
              }
            },
            { "data": "address" },
            { "data": "email_address" },
            { "data": "contact_number" },
          //  { "data": "order_qty" },
            { "data": "order_status" },
            {
            data: null, 
            render: function (data, type, row) { 
              var d = new Date(data.timestamp);
              var curr_day = d.getDate();
              var curr_month = d.getMonth() + 1; //Months are zero based
              var curr_year = d.getFullYear();
              var finaldate = curr_year + "-" + curr_month + "-" + curr_day;
              return d.toLocaleDateString()
             }
          },
            {
              data: null,
              render: function ( data, type, row ) {
                return `<a href="orders-details/${data.invoice}" class="btn btn-outline-info btn-sm m-2" title="View Order Details" id="${data.invoice}"><i class="bi bi-eye-fill"></i></a>`;
              }
            }
            // { "data": "salary" }
        ]
    } );




  function view_order(id){
    console.log(id)
    fetch('/orders/orders-details', {
      method: 'POST',
      body: JSON.stringify({'invoice':id})
    })
    .then(response => {
      if (res.redirected) {
        if (res.redirected) {
            window.location.href = res.url
            }else{
              response.json()
           }  
      }
      
    })
    .then(data => console.log(data));

    //  $('#order_detail_table').DataTable( {
    //     dom: "QBftrip",
    //     "bDestroy": true,
    //     // "processing": true,
    //     // "serverSide": true,
    //     "ajax": {
    //     "url": '/orders/orders-details',
    //     "contentType": "application/json",
    //     "type": "POST",
    //     "data": function ( d ) {
    //       return JSON.stringify( {"anon_user_id" : id} );
    //        },
    //     "dataSrc": "",
    //     },
    //     "columns": [
    //         { "data": "id" },
    //         {
    //           data: null,
    //           render: function ( data, type, row ) {
    //             return `${data.last_name}, ${data.first_name} ${data.middle_name}`;
    //           }
    //         },
    //         { "data": "address" },
    //         { "data": "email_address" },
    //         { "data": "contact_number" },
    //       //  { "data": "order_qty" },
    //         { "data": "order_status" },
    //         {
    //         data: null, 
    //         render: function (data, type, row) { 
    //           var d = new Date(data.timestamp);
    //           var curr_day = d.getDate();
    //           var curr_month = d.getMonth() + 1; //Months are zero based
    //           var curr_year = d.getFullYear();
    //           var finaldate = curr_year + "-" + curr_month + "-" + curr_day;
    //           return d.toLocaleDateString()
    //          }
    //       },
    //         {
    //           data: null,
    //           render: function ( data, type, row ) {
    //             return `<a class="btn btn-outline-info btn-sm m-2" data-bs-toggle="modal" data-bs-target="#viewProduct" title="View Order Details" id="${data.anonymous_user_id}" onclick="view_order('${data.anonymous_user_id}')"><i class="bi bi-eye-fill"></i></a>`;
    //           }
    //         }
    //         // { "data": "salary" }
    //     ]
    // } );


  }

  // var add_product_form = document.getElementById("add_product_form");
  // add_product_form.addEventListener("submit",(e)=>{
  //     e.preventDefault()
  //     let productData = new FormData(add_product_form);
      
  //     const data = {}
  //     productData.forEach((value, key) => (data[key] = value))

  //     console.log(data)

  //     fetch('/product/add-product', {
  //       method: 'POST',
  //       body: JSON.stringify(data),
  //         }).then((res)=>{
  //           console.log(res)
  //           products_table.ajax.reload()
  //           document.getElementById('product_title'). value = ""
  //           document.getElementById('product_price'). value = ""
  //           document.getElementById('product_qty'). value = ""
  //           document.getElementById('product_description'). value = ""
  //               if (res.redirected) {
  //             window.location.href = res.url
  //           }else{
              
  //           }
  //     })
    
  // })



//} ); //dulo ng document load
</script>
{%endblock%}